/* Salzburg AG Custom Fonts*/
@font-face {
	font-family: 'SBG AG - Frutiger Light';
	src:
		url('https://sbg-sac.github.io/SBG_STD_F_LTStd-Light.woff2') format('woff2'),
		url('https://sbg-sac.github.io/SBG_STD_F_LTStd-Light.woff') format('woff'),
		url('https://sbg-sac.github.io/SBG_STD_F_LTStd-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
